* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fafafa;
    font-family: sans-serif;
    color: #333;
    /*max-width: 900px;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin: 8px;
}

header {
    margin-bottom: 1rem;
}

.schedule>h3 {
    margin-bottom: .5rem;
}

h1 {
    margin-bottom: .5rem;
}

h5 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #333;
}

.routeName {
    /*margin-top: 2em;*/
    /*border-bottom: solid 4px #333;*/
    /*padding-top: .5em;*/
    cursor: pointer;
}

.vessel {
    grid-area: vessel;
}

.sailingTime {
    /*text-align: center;*/
}

.route {
    background-color: #fefefe;
    box-shadow: 0px 2px 4px #ddd;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: .5em;
    border-radius: 2px;
}

.route.active {
    box-shadow: 0px 4px 8px #ddd;
    margin-bottom: 1em;
}

.scheduledDeparture {
    grid-area: scheduledDeparture;
    /*text-align: right;*/
}

.actualDeparture {
    grid-area: actualDeparture;
    /*text-align: right;*/
}

.arrivalTime {
    grid-area: arrivalTime;
    /*text-align: right;*/
}

.status {
    grid-area: status;
}

.panel {
    display: none;
}


.sailings {
    margin-top: 1em;
}

.heading {}

.sailing {
    margin-bottom: .5em;
    display: grid;
    grid-area: sailing;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "scheduledDeparture  arrivalTime  ";
}
