---
layout: default
title: Ferrytime 
---

<h2 class="mb-4 text-xl font-semibold text-white antialiased ">All Routes</h2>
{%- for post in collections.route -%}
    <a href={{post.url}} >
  <div class="max-w-md my-4 bg-white rounded-lg px-4 py-4 shadow border-b-4 border-blue-200 flex">
    <div class="w-3/4">
      <div class="text-grey-darkest font-bold pb-1">
        {{post.data.route.route_name | departureTerminal}}
      </div>

      <div class="text-grey-darker font-bold text-sm">
        <span class="text-xs text-grey-200 pb-1">to </span>
        {{post.data.route.route_name | arrivalTerminal}}
      </div>
    </div>
    <div class="w-1/4 text-right">
        {{post.data.route.sailings | latestStatus }}
    </div>
  </div>
    </a>
{%- endfor -%}

<script type="module" src="/_dist_/index.js"></script>
